body{
background-image: url(http://4.bp.blogspot.com/_Z-F5P3Fm8Jg/TDtWWs_ky9I/AAAAAAAAB4s/acZrkMwMxw0/s1600/0129+-+Verde.jpg);
}

.principal {
 
color: #00CCFF;
font-family: Segoe Print;
font-size: 1em;}

form {
    margin:0 auto;
    width:400px;

        }
label {
    
    margin-top:20px;
    letter-spacing:1px;
}
